@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
}

body {
    background-color: #5B2C2C; /* Fondo oscuro */
    background-size: cover;
    background-repeat: no-repeat;
    color: #F6E8DA; /* Texto claro para contraste */
}

h1 {
    text-align: center;
    font-size: 250%;
    color: #F6E8DA;
}

h2 {
    text-align: center;
    color: #F6E8DA;
}

header {
    text-align: center;
    margin-top: 2px;
}

header ul li {
    display: inline;
}

header a {
    text-decoration: none;
    color: #F6E8DA;
}

img {
    width: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid #F6E8DA; /* Borde crema */
}

nav {
    text-align: center;
    margin-top: 30px;
}

nav li {
    margin-bottom: 40px;
}

nav a {
    padding: 10px 200px;
    background-color: #F6E8DA; /* Crema cálido */
    color: #5B2C2C; /* Café oscuro */
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

nav a:hover {
    background-color: #E5B4A2; /* Rosa empolvado */
    color: #8A6C5A; /* Marrón grisáceo */
}

div {
    text-align: center;
}

.test {
    background-color: #E5B4A2; /* Rosa empolvado */
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    color: #5B2C2C;
}

.redes {
    display: inline-block;
}

.redes img {
    width: 30px;
    height: auto;
    margin-top: 20px;
    margin-inline: 10px;
    border: none;           /* Elimina cualquier borde */
    border-radius: 0;       /* Sin bordes redondeados */
    filter: sepia(20%) brightness(1.1);
}
