@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
}

body {
    background-color: #F5F3FF;
    color: #e0ccff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0.6)),
        url('imagenes/descarga\ \(10\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: 'Lato', sans-serif;
    color: #1F2937;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 250%;
}

h2 {
    text-align: center;
    color: #f8d6ff;
}

header {
    text-align: center;
    margin-top: 2px;
    padding: 2rem 1rem;
}

header ul li {
    display: inline;
    list-style: none;
}

header a {
    text-decoration: none;
    color: #f8d6ff;
}

img {
    width: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid #F6E8DA;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 30px;
}

nav li {
    margin-bottom: 40px;
    list-style: none;
    flex: 1;
}

nav li a {
    width: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

nav a {
    padding: 12px 200px;
    color: #FFFFFF;
    background-color: rgb(80, 60, 100);
    border-radius: 24px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: #EAEAEA;
    color: rgb(80, 60, 100);
    transform: translateY(-2px);
}

div {
    text-align: center;
}

.test {
    background-color: #E5B4A2;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    color: #5B2C2C;
}

.redes {
    display: inline-block;
    list-style: none;
}

.redes img {
    width: 30px;
    height: auto;
    margin-top: 20px;
    margin-inline: 10px;
    border: none;
    border-radius: 0;
    filter: grayscale(100%) brightness(1.2);
}
